@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Cardo";
  color: #222;
}
html,
body {
  min-height: 100%;
}
body {
  background: #f3f3f3;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
  font-size: 18px;
}

hr {
  width: 90%;
  border: 0;
  height: 1px;
  background: #000;
  opacity: 0.2;
}

.header {
  padding-top: 10px;
  text-decoration: none;
}

.layout,
.content > * {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  width: 75%;
}

nav {
  flex: 0 0 100%;
  margin: 20px auto;
}

nav a {
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: #222;
  border-width: 1.5px;
}

.row {
  padding: 20px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0px 10px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
}

h2 {
  font-weight: 100;
  font-size: 36px;
}

h3 {
  font-weight: 50;
  font-size: 24px;
}

@media all and (min-width: 100px) and (max-width: 480px) {
  h1 {
    font-size: 36px;
    font-weight: 400;
  }

  h2 {
    font-weight: 100;
    font-size: 24px;
  }

  nav {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    flex-grow: 0;
    /* margin: 20px auto; */
  }

  .content {
    width: 87%;
  }

  nav a {
    margin-left: 0px;
  }

  nav > * {
    align-self: center;
  }
}
