p {
  font-style: italic;
}

.imageWrapper {
  position: relative;
  max-height: 1000px;
  overflow: hidden;
}

.announcement {
  font-size: 3vw !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  white-space: nowrap;
  background-color: black;
  padding: 20px;
}

h2 {
  font-family: "Montserrat";
}

img {
  z-index: -1;
}

.date {
  text-transform: uppercase;
}

.venue {
  padding: 20px 0px;
}
