.imageWrapper {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  margin-left: -20%;
  margin-right: -20%;
  top: -20px;
}

.announcement {
  font-size: 3vw !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  white-space: nowrap;
  background-color: black;
  padding: 20px;
}

img {
  z-index: -1;
}

.date {
  text-transform: uppercase;
}

.venue {
  padding: 20px 0px;
}
